<table class="table table-hover">
  <thead style="font-size: 18px; font-family: Fjalla One, sans-serif; color: #00263D">
    <tr>
      <th>Codigo de Empleado</th>
      <th>Nombre</th>
      <th>Puesto</th>
      <th>Area</th>
    </tr>
  </thead>
  <tbody>
    <%- employees.each do |f| %>
      <tr>
        <td><%= f.id%></td>
        <td><%= link_to f.name, employee_path(f) %></td>
        <td></td>
        <td><%= f.base_belong %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
