<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Vista de Empleado</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2 style="padding-top: 40px">
              <span style="font-size:30px; padding-top:30px">Edgar Eleazar Contreras Umanzor, #475</span><br>
              <span>Ing. Sistemas Computacionales • Gerente General • Ventas</span>
            </h2>
            <div style="float: right; padding-right: 20px">
              <img src="http://pngimg.com/upload/face_PNG5660.png" height="150">
            </div>
            <div class="clearfix"></div>
          </div>
          <div style="float: left; width: 600px; font-size: 20px; padding-left: 150px">
            <p>
              Nacimiento: 05/05/1995, San Pedro Sula
            </p>
            <p>
              Numero de Identidad: 1804-1998-03605
            </p>
            <p>
              Fecha de Contratacion: 09/25/2015
            </p>
            <p>
              Salario: Lps.150,000.00
            </p>
          </div>
          <div style="float: right; width: 600px; font-size: 20px">
            <p>
              Nacimiento: 05/05/1995, San Pedro Sula
            </p>
            <p>
              Numero de Identidad: 1804-1998-03605
            </p>
            <p>
              Fecha de Contratacion: 09/25/2015
            </p>
            <p>
              Salario: Lps.150,000.00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
